<?xml version="1.0" encoding="UTF-8"?>

<Context>

   <!-- GEOPETPLUS MySQL Database Settings --> 
   <Resource 
    	name="jdbc/db_geopetplus" 
    	auth="Container" 
    	type="javax.sql.DataSource"
        driverClassName="oracle.jdbc.OracleDriver"
        url="jdbc:oracle:thin:@icdudeprsodb01.ic.ncs.com:1521:eprsdev"
        username="T3_OWNER" 
        password="t3_owner" 
        maxActive="20" 
        maxIdle="10"
        maxWait="-1" />

</Context>